<h2>New Credit Agreement</h2>
<mat-dialog-content fxLayout="row">
  <form [formGroup]="formGroup" fxFlexAlign="center">
    <div fxLayout="row" fxLayoutGap="24px">
      <div fxLayout="column" fxLayoutGap="24px">
        <mat-form-field appearance="fill">
          <mat-label>Agreement Number</mat-label>
          <input matInput formControlName="agreementNumber" mask="0*" required autocomplete="off">
          <mat-error>Please enter valid Agreement Number</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Client</mat-label>
          <mat-select formControlName="client">
            <mat-option *ngFor="let client of clients" [value]="client.id">
              {{client.name}} {{client.surname}}
            </mat-option>
          </mat-select>
          <mat-error>Please select Client</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Bank Program</mat-label>
          <mat-select formControlName="bankProgram">
            <mat-option *ngFor="let bankProgram of bankPrograms" [value]="bankProgram.id">
              {{bankProgram.name}} ({{bankProgram.currency}}) - {{bankProgram.payType}}
            </mat-option>
          </mat-select>
          <mat-error>Please select bank program</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutGap="24px">
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="startDate" type="date" required autocomplete="off">
          <mat-error>Please enter valid Start Date</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Period, months</mat-label>
          <input matInput type="number" formControlName="period" required autocomplete="off">
          <mat-hint *ngIf="!!currentBankProgram">
            {{currentBankProgram.minPeriod ? 'from ' + currentBankProgram.minPeriod : ''}}
            {{currentBankProgram.maxPeriod ? 'up to ' + currentBankProgram.maxPeriod : ''}}
            {{currentBankProgram.minPeriod || currentBankProgram.maxPeriod ? ' months' : ''}}
          </mat-hint>
          <mat-error>Please enter valid Period</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Amount, {{!!currentBankProgram ? currentBankProgram.currency : 'currency'}}</mat-label>
          <input matInput type="number" formControlName="amount" required autocomplete="off">
          <mat-hint *ngIf="!!currentBankProgram">
            {{currentBankProgram.minAmount ? 'from ' + currentBankProgram.minAmount : ''}}
            {{currentBankProgram.maxAmount ? 'up to ' + currentBankProgram.maxAmount : ''}}
            {{currentBankProgram.minAmount || currentBankProgram.maxAmount ? ' ' +  currentBankProgram.currency : ''}}
          </mat-hint>
          <mat-error>Please enter valid Period</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div fxLayout="column">
    <button mat-button (click)="calculatePayments()">Calculate Payments</button>
    <canvas baseChart width="600" height="600"
            [datasets]="payments"
            [labels]="months"
            chartType="bar"
            [legend]="true">
<!--            [options]="lineChartOptions"-->
<!--            [colors]="lineChartColors"-->
<!--            [legend]="lineChartLegend"-->
<!--            [chartType]="lineChartType"-->
<!--            [plugins]="lineChartPlugins"-->
<!--            (chartHover)="chartHovered($event)"-->
<!--            (chartClick)="chartClicked($event)"-->


    </canvas>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="!formReady" (click)="save()">Submit</button>
</mat-dialog-actions>
